<div class="header-wrapper">
    <div class="header-content">
      <div class="logo-row">
        <img src="assets/logo.webp" alt="Logo" class="logo-image">
      </div>
      <h1 style="padding-left: 10px; color: #04396d;">Car Evaluation Inc.</h1>
      <div class="menu-row">
        <p-menubar>
          <ng-template pTemplate="start">
            <button pButton label="Home" routerLink="/" class="menu-button"></button>
            <button pButton label="About" routerLink="/about" class="menu-button"></button>
            <button pButton label="Contact" routerLink="/contact" class="menu-button"></button>
          </ng-template>
        </p-menubar>
      </div>
    </div>
  </div>
  