.evaluation-container {
  font-family: 'Arial', sans-serif;
  width: fit-content;
  padding: 10px;
  background-color: #f4f4f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.evaluation-header {
  text-align: center;
}

.evaluation-header h1 {
  font-size: 2rem;
  font-weight: bold;
  color: #04396d;
  margin-bottom: 5px;
}

.evaluation-header p {
  font-size: 1rem;
  color: #555;
}

.evaluation-main-content {
  display: flex;
  justify-content: space-between;
  gap: 20px; /* Space between table and flowchart */
}

.evaluation-table-container {
  flex: 1; /* Takes up available space */
  padding: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.evaluation-table {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.evaluation-table th {
  background: linear-gradient(90deg, #58a3ea, #1976d2); /* Gradient background */
  color: white;
  font-size: 1rem;
  text-align: center;
  padding: 10px;
}

.evaluation-table td {
  text-align: center;
  padding: 10px;
  font-size: 0.9rem;
}

.sale-badge {
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 0.9rem;
  font-weight: bold;
  color: white;
  display: inline-block;
}

.sale-yes {
  background-color: #74b784; /* Green for "Yes" */
}

.sale-no {
  background-color: #bf5d67; /* Red for "No" */
}

.sale-warn {
  background-color: #d0ba2d; /* Red for "No" */
}

.eval-yes {
  color: #28a745; /* Green for "Yes" */
  font-weight: bold;
}

.eval-no {
  color: #dc3545; /* Red for "No" */
  font-weight: bold;
}

.eval-warn {
  color: #d0ba2d; /* Red for "No" */
  font-weight: bold;
}

.metadata {
  margin-top: 20px;
}

.flow-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 1rem;
  margin-top: 1rem;
  justify-content: center;
}

.service-box {
  padding: 10px;
  background-color: #c3dff9;
  border-radius: 8px;
  margin: 5px 0;
  font-size: small;
}

.arrow {
  font-size: 20px;
  margin: 10px 0;
  color: #1976d2;
}


:host ::ng-deep .p-element, td {
  font-size: small !important;
}